{% extends "base.html" %}

{% block title %}Doctors{% endblock title %}

{% block content %}

<div class="container-fluid  mx-auto bg-warning py-2">
    <h1 class="text-center">Our Doctors</h1>
</div>

<div class="container text-center">
    {% for d in doctor %}
    <div class="card mx-3 my-3 text-center" style="width: 18rem; display: inline-block;">
        <img src="{{d.doc_image.url}}" class="card-img-top" style="height: 18rem; object-fit: fill;" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{d.doc_name}}</h5>
          <p class="card-text">{{d.doc_spec}}</p>
          <h6 class="card-title">{{d.dep_name}} Department</h6>
        </div>
      </div>

    {% endfor %}

</div>


{% endblock content %}